<!DOCTYPE html>
<html>
	<head>
		<% include partials/header.ejs %>

	</head>
		<body>

			<!-- <h1 id=''> Customer Invoices </h1> --><a href='/' ><i class='fa fa-home'></i>Main Menu</a>

			<div  class='accordionOutline'>
				<%customers.forEach(function(customer){%>

					
			<div id='scheduleOutline'>
				<h3> Statement Period: <%= statementPeriod %></br>
					 Customer: <%= customer.customer_lastname %>, <%= customer.customer_firstname %> </h3>
				<% serviceInfo.forEach(function(service){%>
				<%if((customer.customer_id === service.customer_id)) {%>
				<p>
					<table class='table table-striped'id='customersServices'>
						<tr>
							<th class='columnSpacing'>Service Date</th>
							<th class='columnSpacing'>Amount Due</th>
							<th class='columnSpacing'>Date Due</th>
						
						</tr>
						<tr >
							<td id='serviceDate' class='columnSpacing'><%= service.service_date %></td>
							<td id='amountDue' class='columnSpacing'><%= amountDue %></td>
							<td id='dueDate' class='columnSpacing'><%= billDueDate %></td>
						
						</tr>

					</table>
				</p>
				<% } %>
			<% }) %>
			
				
			
			<ul id='address'>
				<li><%= customer.customer_firstname %> <%= customer.customer_lastname %> </li>
				<li><%= customer.customer_address %></li>
				<li><%= customer.customer_city %>, <%= customer.customer_state %>, <%= customer.customer_zipcode %></li>
			</ul>
			</div>
			<% }) %>
		</div>
	

	</body>
</html>