<!DOCTYPE html>
<html>
	<head>
		
		<% include partials/header.ejs%>
	</head>
		
		
		<body>
			<h1 id='title'>  </h1><a href="/"><i class="fa fa-home"></i>Main Menu</a>
			
			<div  class='accordionOutline'>
				<%technicians.forEach(function(tech){ %>
				
			
		
				
			<div id='scheduleOutline'> 
				<h3> Technician Name: <%= tech.technician_name %> ------ Work Week : <%= workweek %> </h3>
				<%if(customers.length > 0) {%>
					<% customers.forEach(function(customer){ %>
						<% if(customer.technician_id === tech.technician_id) { %>	
							<% if(schedule.length > 0) {%>
								<% schedule.forEach(function(customerSchedule) { %>
									<% if (customerSchedule.customer_id === customer.customer_id){%>
			<p>
				<table class='table table-striped' >
					<tr>
						<th class='columnSpacing'>Service Date</th>
						<th class='columnSpacing'>Customer Name</th>
						<th class='columnSpacing'>Customer Address</th>
						<th class='columnSpacing'>Time</th>
					</tr>
					<tr >
						<td id='serviceDate' class='columnSpacing'><%= customerSchedule.service_date %></td>
						<td id='customerName' class='columnSpacing'><%= customer.customer_lastname %>, <%= customer.customer_firstname %> </td>
						<td id='customerAddress' class='columnSpacing'><%= customer.customer_address %> </br> <%= customer.customer_city %> </br> <%= customer.customer_zipcode %></td>
						<td id='serviceTime' class='columnSpacing'>TBD</td>
					</tr>

				</table>
			</p>
								<% } %>
							<% }) %>
						<% } %>
					<% } %>
				<% }) %>
			<% } %>
			</div>
			<% }) %>
						
		</div>
		
	</body>
</html>