<!DOCTYPE html>
<html>
	<head>
		
		<% include partials/header.ejs %>
		<script>
  $(function() {
    $( "#accordion" ).accordion();
  });
  function myFunction() {
    window.print();
	}
  </script>
	</head>
		
		
		<body>
			<h1 id='title'> Technician Weekly Schedule </br> <%= workweek %></h1><a id="homeIcon"href="/" style="font-size: 24px"><i class="fa fa-home"></i>Main Menu</a>
			
			<div  id='accordion' class='outline'>
				<%technicians.forEach(function(tech){ %>
				<h3>  Technician Name: <%= tech.technician_name %> </h3>
					
				

			<div id='scheduleDisplay'>

				<%if(customers.length > 0) {%>
					<% customers.forEach(function(customer){ %>
						<% if(customer.technician_id === tech.technician_id) { %>	
							<% if(schedule.length > 0) {%>
								<% schedule.forEach(function(customerSchedule) { %>
									<% if (customerSchedule.customer_id === customer.customer_id){%>
				<p class='center'>	
					<ul>
						<li class='align'>Customer Name</li> 
						<li class='align'>Customer Address</li>
						<li class='align'>Service Date </li> </br>
						<li class='align'><%= customer.customer_lastname %>, <%= customer.customer_firstname %>  </li>
						<li class='align'><%= customer.customer_address %> <br> <%= customer.customer_zipcode %> </li>
						<li class='align'><%= customerSchedule.service_date %></li>
					</ul>	
				</p>	
								<% } %>
							<% }) %>
						<% } %>
					<% } %>
				<% }) %>
			<% } %>
			
			</div>

		<% }) %>						
		</div>
		

	</body>
</html>